@import "reset";

$soft-blue: hsl(215, 51%, 70%);
$cyan: hsl(178, 100%, 50%);
$dark-blue-main: hsl(217, 54%, 11%);
$dark-blue-card: hsl(216, 50%, 16%);
$dark-blue-line: hsl(215, 32%, 27%);
$white: hsl(0, 0%, 100%);
$light-font: 300;
$normal-font: 400;
$bold-font: 600;
$font-family: "Outfit", sans-serif;

* {
  box-sizing: border-box;
}

:root {
  font-size: 18px;
}

body {
  min-height: 100vh;
  background-color: $dark-blue-main;
  font-family: $font-family;
  color: $soft-blue;
}

// -- BEM approach --

// - main
// - card
// - attribution

@mixin transition {
  color: $cyan;
  transition: 0.3s ease-in;
}

.main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.card {
  position: relative;
  height: clamp(543px, 100%, 596px);
  width: clamp(327px, 100%, 350px);
  margin: auto 24px;
  padding: 24px 25px 24px 24px;
  background-color: $dark-blue-card;
  border-radius: 15px;
}

.card__img-container {
  position: relative;
}

.card__img {
  display: block;
  width: 100%;
  margin-bottom: 24px;
  border-radius: 8px;
}

.card__overlay {
  @include transition();
  z-index: 3;
  position: absolute;
  top: calc(50% - 24px);
  right: calc(50% - 24px);
  opacity: 0;
}

.card__overlay-bg {
  @include transition();
  z-index: 2;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background-color: $cyan;
  opacity: 0;
}

.card__img-container:hover .card__overlay {
  opacity: 1;
}
.card__img-container:hover .card__overlay-bg {
  opacity: 0.5;
}

.card__title {
  margin-bottom: 12px;
  color: $white;
  font-size: 22px;
  font-weight: $bold-font;
  line-height: 28px;
}

.card__title:hover {
  @include transition();
}

.card__description {
  margin-bottom: 16px;
  font-weight: $light-font;
  line-height: 26px;
}

.card__data {
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.card__eth,
.card__date {
  display: flex;
  align-items: center;
}

.card__eth {
  color: $cyan;
}

.card__eth-icon {
  margin-right: 6.48px;
}

.card__date {
  font-weight: $light-font;
  line-height: 19px;
}

.card__date-icon {
  margin-right: 7.7px;
}

.card__footer {
  display: flex;
  align-items: center;
  padding-top: 15px;
  border-top: 1px solid $dark-blue-line;
  font-size: 15px;
}

.card__avatar {
  width: 33px;
  height: 33px;
  margin-right: 16px;
  border: 1px solid $white;
  border-radius: 100%;
}

.card__author {
  color: $white;
}

.card__author:hover {
  @include transition();
}

.attribution {
  width: 100vw;
  position: fixed;
  bottom: 15px;
  font-size: 0.6em;
  text-align: center;
}

.attribution a {
  color: $white;
  text-decoration: none;
}

.attribution a:hover {
  @include transition()
}

// Media Queries
@media (min-width: 425px) {
  .card {
    padding: 24px;
  }

  .card__title {
    margin-bottom: 16px;
  }

  .card__description {
    margin-bottom: 24px;
  }

  .card__data {
    font-size: 16px;
    margin-bottom: 24px;
    line-height: 20px;
  }

  .card__creation-of {
    font-size: 16px;
  }

  .card__footer {
    margin-bottom: 8px;
  }
}
